<div class="row">
  <div class="col-md-12">
    <h1>{{campsite.name}}</h1>
    <p>{{campsite.category}}</p>
  </div>
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{campsite.image}}"
      style="width: 250px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    <br>
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>Opening Hour:</strong> {{campsite.rating}}</li>
        <li><strong>Tel:</strong> {{campsite.phone}}</li>
        <li><strong>Address:</strong> {{campsite.location}}</li>
      </ul>
    </div>
  </div>
  <div class="col-md-8">
    <p style="white-space: break-spaces;">{{campsite.description}}</p>
  </div>
  <hr>
</div>
<a class="btn btn-outline-secondary" href="javascript:history.back()">返回</a>