<div style="width: 960px;  margin: auto; background:white; position:relative;">
  <h5 class="mb-3 pt-3 ms-3" style="color:gray;">基本資料</h5>
  <div class="ms-5 container d-flex">
    <div class="w-28 h-25 mt-3 image-center">
      <img {{#if campsite.image}}src="{{campsite.image}}" {{else}}src="https://fakeimg.pl/250/?text=照片&font=noto" {{/if}}
        class="img-thumbnail avatar" style="object-fit:cover;height: 250px; width: 250px;position:relative;"
        alt="user-image">
      <label class="form-label icon" for="image">
        <h1 class="" style=""><i class="fa-solid fa-circle-plus" style="color: white;"></i>
        </h1>
      </label>
      <input class="form-control addImage" type="file" id="image" name="image" style="display:none">
     </div>
    <div class="m-4 mt-5">
      <label class="form-label" for="name">名稱<span style="color:red;">*</span></label>
      <input class="form-control" type="text" name="name" id="name" value="{{campsite.name}}" placeholder="露營區名稱"
        style="width: 50%;">
      {{!-- 選擇分類 --}}
      <label for="category" class="mt-4">分類<span style="color:red;">*</span></label>
        <select class="form-control" id="category" name="category"  style="width: 30%;">
        <option {{#unless campsite}}selected {{/unless}}disabled hidden>
          選擇分類
        </option>
        {{#each categories}}
        <option {{#ifCond this.name ../campsite.category}} selected {{/ifCond}}>
        {{this.name}}
        </option>
        {{/each}}
    </select>
      {{!-- 描述 --}}
      <label class="form-label mt-3" for="description">介紹<span style="color:red;">*</span>
      </label>
      <textarea rows="5" cols="60" class="form-control" type="text" name="description" id="description"
        placeholder="簡介一下此露營區的特色" >{{campsite.description}}</textarea>
    </div>
    </div>
    {{!-- 詳細資訊 --}}
    <div class="container ms-5 pe-5">
      <h5 class="mb-5 mt-3" style="color:gray;">詳細資料</h5>
      <div class="d-flex mb-3">
        <label class="form-label me-5" for="county">所在地<span style="color:red;">*</span></label>
        <select class="form-control county me-3" id="county" name="county" style="width: 15%;">
        <option {{#unless campsite}}selected {{/unless}}disabled hidden>
          選擇縣市
        </option>
        {{#each district}}
        <option value="{{this}}"  {{#ifCond this ../campsite.county}} selected {{/ifCond}}>
        {{this}}
        </option>
          {{/each}}
      </select>
    <select class="form-control town me-3" id="town" name="town" style="width: 15%;">
      {{#if campsite}}
      <option selected class="default-town">
        {{campsite.town}}
      </option>
      {{else}}
      <option selected disabled hidden>
        選擇區域
      </option>
      {{/if}}
    </select>
    </div>
      <div class="d-flex mb-3">
        <label class="form-label me-5" for="phone">電話</label>
        <input class="form-control" type="text" name="phone" id="phone" value="{{campsite.phone}}" placeholder=""
            style="width: 30%;">
      </div>
      <div class="d-flex mb-3">
          <label class="form-label me-5" for="location">地址</label>
          <input class="form-control" type="text" name="location" id="location" value="{{campsite.location}}" placeholder=""
          style="width: 40%;">
      </div>
      <div class="d-flex mb-3">
        <label class="form-label me-5" for="website">網站</label>
        <input class="form-control" type="url" name="website" id="website" value="{{campsite.website}}" placeholder=""
        style="width: 40%;">
      </div>
      <div class="d-flex mb-3">
        <label class="form-label me-5" for="googleMapWebsite">google地圖連結</label>
        <input class="form-control" type="url" name="googleMapWebsite" id="googleMapWebsite" value="{{campsite.googleMapWebsite}}" placeholder=""
          style="width: 40%;">
      </div>
      <div class="d-flex mb-3">
        <div class="me-5">合法<span style="color:red;">*</span></div>
        <div class="form-check me-3">
          <input class="form-check-input" type="radio" name="isLegal" id="isLegal1" value="false" {{#ifCond false campsite.isLegal}}checked{{/ifCond}}>
          <label class="form-check-label" for="isLegal1">
            否
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="isLegal" id="isLegal2" value="true" {{#ifCond true campsite.isLegal}}checked{{/ifCond}}>
          <label class="form-check-label" for="isLegal2">
            是
          </label>
        </div>
      </div>
      <div class="d-flex mb-3">
        <div class="me-5">公有<span style="color:red;">*</span></div>
        <div class="form-check me-3">
          <input class="form-check-input" type="radio" name="isPublicOwn" id="isPublicOwn1" value="false" {{#ifCond false
            campsite.isPublicOwn}}checked{{/ifCond}}>
          <label class="form-check-label" for="isPublicOwn1">
            否
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="isPublicOwn" id="isPublicOwn2" value="true" {{#ifCond true
            campsite.isPublicOwn}}checked{{/ifCond}}>
          <label class="form-check-label" for="isLegal2">
            是
          </label>
        </div>
      </div>
      <div class="d-flex mb-3">
        <div class="me-5">營業中<span style="color:red;">*</span></div>
        <div class="form-check me-3">
          <input class="form-check-input" type="radio" name="isOpen" id="isOpen1" value="false" {{#ifCond false
            campsite.isOpen}}checked{{/ifCond}}>
          <label class="form-check-label" for="isOpen1">
            否
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="isOpen" id="isOpen2" value="true" {{#ifCond true
            campsite.isOpen}}checked{{/ifCond}}>
          <label class="form-check-label" for="isOpen2">
            是
          </label>
        </div>
      </div> 
      {{!-- 附近景點 --}}
      
      <label class="form-label mt-3" for="attraction">附近景點
      </label>
      <textarea rows="3" cols="30" class="form-control" type="text" name="attraction" id="attraction"
         placeholder="例如：十分瀑布、暖東峽谷滑瀑">{{campsite.attraction}}</textarea>
     
    </div>
    
    <div class="container ms-5 mt-5 pe-5">
      <h5 class="mt-3" style="color:gray;">訂位資訊</h5>
      {{!-- 收費資訊 --}}
      
      <label class="form-label mt-3" for="price">收費資訊<span style="color:red;">*</span>
      </label>
      <textarea rows="8" cols="40" class="form-control" type="text" name="price" id="price"
        placeholder="收費項目、收費標準等">{{campsite.price}}</textarea>
     
     
      {{!-- 營區訂位 --}}
   
      <label class="form-label mt-3" for="reservation">營區訂位<span style="color:red;">*</span>
      </label>
      <textarea rows="8" cols="40" class="form-control" type="text" name="reservation" id="reservation"
        placeholder="訂位方式、入住時間、設施、營區須知等">{{campsite.reservation}}</textarea>
     
      </div>
     
    <div class="container ms-5 mt-5 pe-5">
      <h5 class="mt-3" style="color:gray;">交通資訊</h5>
      {{!-- 自行開車資訊 --}}
     
        <label class="form-label mt-3" for="driving">自行開車
        </label>
        <textarea rows="5" cols="40" class="form-control" type="text" name="driving" id="driving" placeholder="駕車行經交流道、省道等前往路線"
        >{{campsite.driving}}</textarea>
        
      
      {{!-- 大眾交通 --}}
     
        <label class="form-label mt-3 pe-5" for="publicTransport">大眾交通
        </label>
        <textarea rows="5" cols="40" class="form-control" type="text" name="publicTransport" id="publicTransport"
          placeholder="搭乘前往的客運、公車、捷運等">{{campsite.publicTransport}}</textarea>
       
      
    </div>
    <button type="submit" class="btn btn-primary submit" style="position: absolute; top:5%; right:5%">建立</button>
  </div>

