<div class="container d-flex" style="width: 960px; height: 240px; margin: auto; background:white">
  <div class="w-25 h-100">
  <img {{#if viewUser.image}}src="{{viewUser.image}}"{{else}}src="https://fakeimg.pl/150/?text=大頭照&font=noto"{{/if}} class="img-thumbnail" style="object-fit:cover;height: 100%; width: 100%;" alt="user-image">
  </div>
  <div class="m-4">
    <h5 >{{viewUser.name}}</h5>
    <p >{{viewUser.email}}
    </p>
    {{#ifType viewUser._id user._id}}
    <a href="/users/{{viewUser._id}}/edit" class="btn btn-primary">編輯</a>
    {{/ifType}}
  </div>
</div>
{{!-- like campsites --}}
<div class="card mt-3" style="width: 960px; margin: auto; background:white">
  <div class="card-body">
  <h5 class="card-title">{{viewUser.like.length}} 個喜愛的露營區</h5>
  <div class="d-flex justify-content-start" style="flex-wrap: wrap;">
  {{#each like}}
  <a href="/campsites/{{this._id}}">
  <div style="width: 230px; height: 230px; position:relative; ">
    <img src="{{this.image}}" class="img-thumbnail" style="object-fit:cover;height: 100%; width: 100%;" alt="campsite-image">
    <span style="color:white; position:absolute; top:50%; left:8%; font-weight:bold; background-color:rgba(0,0,0,0.2)">{{this.name}}</span>
  </div>
  </a>
  {{/each}}
  </div>
  </div>
</div>
{{!-- albums --}}
<div class="card mt-3" style="width: 960px; margin: auto; background:white">
  <div class="card-body">
    <h5 class="card-title">{{count}} 個相簿</h5>
    <div class="d-flex justify-content-start" style="flex-wrap: wrap;">
      {{#each albums}}
      <a href="/albums/{{this._id}}">
      <div style="width: 230px; height: 230px; position:relative; ">
        <img src="{{this.cover}}" class="img-thumbnail" style="object-fit:cover;height: 100%; width: 100%;"
          alt="campsite-image">
        <span
          style="color:white; position:absolute; top:50%; left:10%; font-weight:bold; background-color:rgba(0,0,0,0.2)">{{this.name}}</span>
      </div>
      </a>
      {{/each}}
    </div>
    {{> albums-pagination}}
  </div>
</div>